#encompass {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100vw;
}

body {
  background-color: #fafafa;
  margin: 0;
  margin-top: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  color: #4c4e61;
  width: auto;
}

body #header1 {
  font-size: 1.2rem;
  font-weight: 200;
  margin: 5px;
}

body #header2 {
  font-size: 1.2rem;
  font-weight: 600;
  margin: 5px;
}

body #header3 {
  font-size: 0.7rem;
  font-weight: 400;
  color: #cccccc;
  width: 65vh;
  margin: auto;
}

#container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1 fr 1fr;
      grid-template-columns: 1fr 1 fr 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
      grid-template-areas: "card1 card2 card4" "card1 card3 card4";
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70vh;
  width: 920px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: auto;
}

.card {
  background-color: white;
  border-radius: 3px;
  border-top: 3px solid;
  padding: 4px;
  font-weight: normal;
  color: #a3a5ae;
  font-size: x-small;
  margin: 5px;
  -webkit-box-shadow: 10px 5px 5px #eee;
          box-shadow: 10px 5px 5px #eee;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 200px;
  width: 300px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-template-areas: "paragraph" "image";
  text-align: left;
}

.card img {
  display: -ms-grid;
  display: grid;
  margin: auto 10% auto auto;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: image;
}

.card .message {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: paragraph;
  margin: 5px;
}

.card .message .checkin {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 2px;
  background-color: gray;
  width: 30%;
  border-radius: 2px;
  text-align: center;
}

.card .message .checkin p {
  color: white;
}

.card .title {
  font-weight: 600;
  color: #4c4e61;
  font-size: large;
  margin: 0px;
}

#card1 {
  border-color: #45d3d3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: card1;
}

#card2 {
  border-top: 3px solid #ea5353;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: card2;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

#card3 {
  border-color: #fcaf4a;
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: card3;
}

#card4 {
  border-color: #549ef2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  grid-area: card4;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media (max-width: 375px) {
  #container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
        grid-template-areas: "card1" "card2" "card3" "card4";
    height: auto;
    width: auto;
    -ms-grid-row-align: center;
        align-self: center;
  }
  .card {
    margin: 5px auto 5px auto;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  body #header3 {
    width: 70vw;
  }
}
/*# sourceMappingURL=Monitor.module.css.map */